%inline-block-fix {
    font-size: 0;
    > span {
        display: inline-block;
        vertical-align: top;
    }
}

%font-size-reset {
	[data-dpr="1"] & {
	    font-size: 12px;
	}
	[data-dpr="2"] & {
	    font-size: 24px;
	}
	[data-dpr="3"] & {
	    font-size: 36px;
	}
}